<div id="bottom_foot">
		<div id="footer">
			<div id="footer_wrap">
				<p>This project is done by Vinay Gomashe</p>
				<p><a href="https://github.com/vinay-alt" target="_blank" title="Github"><i class="fab fa-github"></i></a> | <a href="https://www.linkedin.com/in/vinay-gomashe-77283b1a9/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></p>
			</div>
		</div>
		<div id="others">
			<ul>
				<a href=""><li>Diabetes Prediction</li></a>
				<a href=""><li>House Price Prediction</li></a>
				<a href=""><li>Spam Detector</li></a>
				<a href=""><li>Movie Recommendation</li></a>
			</ul>
		</div>
	</div>

	
</body>
</html>